.react-datepicker {
  font-family: var(--font-sans);
  @apply border border-muted rounded shadow-md;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__header {
  @apply bg-background border-muted;
}

.react-datepicker__current-month {
  @apply font-medium py-2;
}

.react-datepicker__day-name {
  @apply text-muted-foreground;
}

.react-datepicker__day--selected {
  @apply bg-primary text-primary-foreground rounded-full hover:bg-primary hover:text-primary-foreground;
}

.react-datepicker__day:hover {
  @apply bg-muted rounded-full;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
  @apply bg-primary text-primary-foreground;
}

.react-datepicker-time__header {
  @apply font-medium text-sm;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item:hover {
  @apply bg-muted;
}

.react-datepicker__navigation {
  top: 8px;
}

.react-datepicker__day--keyboard-selected {
  @apply bg-muted text-foreground;
}
